@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    button {
        @apply rounded-sm px-2 duration-100 ease-in-out hover:brightness-150 bg-teal-800 text-stone-300 shadow-black focus:brightness-150 focus:outline-none active:shadow-inner active:scale-90 disabled:shadow-inner disabled:scale-90;
    }

    input {
        @apply shadow-black shadow-inner bg-teal-800 text-stone-300 ps-2 h-8 focus:outline-none;
    }

    textarea {
        @apply shadow-black shadow-inner bg-teal-800 text-stone-300 p-2 h-8 focus:outline-none resize-none;
    }
}
